<h1>Posts Page right after Signup</h1>
<h2>My Posts</h2>

<% @posts.each do |post| %>
  <div>

          <% if false %>
          Commenting this part out for photo uploading later

            <% if post.photos.present? %>
              <%= image_tag @photo_url.to_s.last %>
            <% end %>

          <% end %>

    <h5><%= post.content %></h5>
    <p><%= post.created_at.strftime("%B, %d %Y, %l:%M%P") %></p>
  </div>

  <hr />
<% end %>
