<h1>Posts Page right after Signup</h1>
<h2>My Posts</h2>

<div id='posts'>
  <% @posts.each do |post| %>
    <%= image_tag post.picture.to_s, class: "post-picture" %>
    <%= post.content %>
  <% end %>
</div>

<hr />
