<body>  
  <div class="container"> 
    <h1 id="greeting">Hello, Human. Check out these good pets.</h1> 
    <div class="row"> 
      <div class="col-sm-4 post"> 

      </div>  
      <div class="col-sm-4 post"> 

      </div>  
      <div class="col-sm-4 post"> 

      </div>  
      <div class="col-6 offset-4">  
        <%= link_to new_user_session_path do %> 
          <button type="button" class="btn btn-dark btn-lg" id="homepage-buttons">Log In</button> 
        <% end %> 
        <%= link_to new_user_registration_path do %> 
          <button type="button" class="btn btn-dark btn-lg" id="homepage-buttons">Sign Up</button>  
        <% end %> 
      </div>  
    </div>  
  </div>  
</body>