<body>  
  <div class="container"> 
    <h1 id="greeting">Hello, Human. Check out these good pets.</h1>
    <br /> 
    <div class="row">

      <!-- Landing posts -->
      <div class="row landing-posts-container"> 
        <% @random_posts.each do |post| %>
          <div class="col-sm-4 landing-post">
            <h3><%= post.content %></h3> 
            <h5><%= post.user.username %></h5>
          </div> 
        <% end %>
      </div>  
    </div>  
  </div>  
</body>