<h1>Posts Page right after login</h1>

<% @posts.each do |post| %>
  <if post.photos.present? %>
    <%= image_tag %post_url.to_s.last %>
  <% end %>

  <p><%= post.pet_id %></p><br />
  <p><%= post.content %></p><br />
  <p><%= post.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
<% end %>