// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#greeting {
  text-align: center;
}
#greeting {
  font-weight: bold;
}
.landing-posts-container {
  margin: 10px;
}
.landing-post {
  height: 300px;
  width: 300px;
  padding: 8px;
  text-align: center;
}
