// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rec-posts-container {
  margin: 10px;
}
.rec-post {
  height: 300px;
  width: 300px;
  padding: 8px;
  text-align: center;
}
.rec-post-pic {
  max-height: 200px;
}