// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  text-align: center;
}
#profile-pets {
  margin-top: 30px;
}
.pet-posts {
  margin: 15px;
}