// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  justify-content: center;
  align-content: center;
}
#user-info {
  text-align: center;
}
.pet-info {
  flex-basis: auto;
  flex-wrap: wrap;
}
#profile-pets {
  margin-top: 30px;
}
.profile-posts {
  margin: 5px;
}
